# Local date
abc.json
aaaa.json
# Python cache
__pycache__/
*.py[cod]
# Test and lint cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
# Virtural environment
.venv/
venv/
#Built artifacts
dist/
build/
*_egg-info/
.coverage/
htmlcov/

